html {
  background: #eee;
  padding: 20px;
}

.game {
  display: flex;
}

.tv {
  background: lightblue;
  border: 1px solid black;
  width: 75%;
  height: 85vh;
  margin-right: 40px;
  padding: 20px;
}

.phone {
  background: white;
  width: 25%;
  height: 600px;
  height: 70vh;
  border: 1px solid black;
  padding: 20px;
}

.question {

}

.question__prompt {

}

.question__options {
  list-style: none;
  padding: 0;
}

.question__option-item {
  margin-bottom: 10px;
}

.question__option-button {
  border: 0;
  background: #ddd;  
  padding: 20px;
}